<!DOCTYPE html>
 {% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - 外星人商城 - www.wxrmall.com</title>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/zpl.css' %}">
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <!-- 导航栏开始 -->
        {% include 'header.html' %}
        <!-- 导航栏结束 -->
      <div class="container">
        <!-- 面包屑导航栏 开始 -->
        {% block breadcrumb %}{% endblock %}
        <!-- 面包屑导航栏 结束 -->
        <!-- 网页中部开始 -->
        {% block connect %}{% endblock %}
        <!-- 网页中部结束 -->
        <!-- 网页底部开始 -->
        {% include 'footer.html' %}
        <!-- 网页底部结束 -->
      </div>
    </body>
</html>
