
.goods {
  width: 250px;
  padding: 10px;
}
.col-md-4 {
  width: 25%;
}
.container .minititle {
  white-space:nowrap;
  width: 100%;
  overflow:hidden;
}
.goods_right {
  width: 60%;
  margin-top: 20px;
  float: right;
  height: 400px;
}
.panel-body2 {
  height: 425px;
  padding: 15px;
}
.goods_desc {
    padding: 15px;
    font-size: 16px;
    line-height: 32px;
}

.goods_right .tb-prop {
    padding-bottom: 6px;
}
.goods_right .tb-metatit {
    text-align: left;
    float: left;
    width: 66px;
    font-size: 21px;
    font-weight: 200;
}
.goods_right .tb-prop dd {
    width: 420px;
    float: left;
}
.goods_right ul, ol {
    list-style: none;
}

.tm-sale-prop li {
    line-height: 28px;
}
.tb-prop li {
    float: left;
    position: relative;
    margin: 0 4px 4px 0;
    line-height: 20px;
    vertical-align: middle;
    padding: 1px;
}
.tb-prop li a {
    float: left;
    background-color: #fff;
    white-space: nowrap;
    width: auto!important;
    min-width: 10px;
    padding: 0 9px;
    text-align: center;
    border: 1px solid #b8b7bd;
    color: #000;
    text-decoration: none;
}
.tb-prop li span {
    padding-left: 1px;
}

.clear {
  margin:10px auto;
}
/********/


.preview{width:400px; height:465px; margin:20px; float:left;}
/* smallImg */
.smallImg{position:relative; height:52px; margin-top:1px; background-color:#FFF; padding:6px 5px; width:390px; overflow:hidden;float:left;}
.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(../images/d_08.png) no-repeat;}
.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(../images/d_09.png) no-repeat; margin-left:375px; margin-top:-50px;}

#imageMenu {height:50px; width:360px; overflow:hidden; margin-left:0; float:left;}
#imageMenu li {height:50px; width:60px; overflow:hidden; float:left; text-align:center;}
#imageMenu li img{width:50px; height:50px;cursor:pointer;}
#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:44px; height:44px; border:3px solid #959595;}
/* bigImg */
.bigImg{position:relative; float:left; width:400px; height:400px; overflow:hidden;}
.bigImg #midimg{width:400px; height:400px;}
.bigImg #winSelector{width:235px; height:210px;}
#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
/* bigView */
#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;}
#bigView img{position:absolute;}
